.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

div > p {
  text-align: center;
}

div > p > img {
  background-color: green;
}

.testImage {
  width: 20vw;
  height: 20vh;
}

.Card {
  width: 20rem;
}
